// RESPONSIVE BREAKPOINTS
$bp-smallest: 12.5em; // 200px/16
$bp-smaller: 25em; //400px/
$bp-sm-between: 30em;
$bp-small: 37.5em; // 600px/16
$bp-medium: 50em; // 800px/16
$bp-large: 75em; // 1200px/16
$bp-largest: 112.5em; // 1800px/16
